body{
    background-color: #F0E7F1;
    margin: 0;
    padding: 0;
    height: 2000px;
}


.bg {
    background-color: #7A717B;
    width: 100%;
  

}
ul {
    list-style-type: none;
    margin: 0; 
    padding-left: 3em;
    margin-left: 23em;
    overflow: hidden;
    background-color: #7A717B;
    
   
}

li {
    float: left;
    font-family: 'Oswald';
}

li a {
    display: block;
    color: #E1DCE6;
    text-align: center;
    padding: 0.7em 1.5em;
    text-decoration: none;
    border-left: 1px solid #948B95;
   
}

  .bright {
    border-right: 1px solid #948B95;
}


li a:hover {
    color: black;
    background: #A9A0AA;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
       box-shadow: inset 0 -10px 10px -10px #000000;
}

li a:active {
    color: black;
    background: #E1DCE6;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
       box-shadow: inset 0 -10px 10px -10px #000000;
}

.logo1 {
    margin-top: -2.63em;
    margin-left: 2em;
    display: table;
}

.invite {
    float: right;
    margin-top: -2.3em;
    margin-right: 0.8em;
    padding-left: 1em;
}



.but1 {
    background-color: #177EFD;
    padding: 0.2em;
    font-family: 'Oswald';
    cursor: pointer;
     border: 0.5px solid #177EFD;
     border-radius: 1.5px;
}

.but1:hover {
   background-color: #61C6FA;
   border-radius: 0.5px;

}

.but1:active {
    background-color: #AEFFFF;
}

.desc {
    border: 3px groove silver;
    font-family: 'Oswald';
    font-size: 1.5em;
    color: #1B1BFD;
    background-color: #C7E1FE;
    text-align: center;
    height: 6em;
    margin-top: 3em;
    float: left;
    padding: 1em;
    margin-left: 10em;
    border-radius: 1em;
    width: 30em;

}

@media screen and (max-device-width: 700px) {
    .desc {
        margin-left: 1em;
        width: 10em;
    }
    .bg {
        width: 100%;
    }

    ul {
    list-style-type: none;
    margin: 0; 
    padding-left: 1em;
    margin-left: 10em;
    overflow: hidden;
    background-color: #7A717B;
    
   
}

li {
    float: left;
    font-family: 'Oswald';
}

li a {
    display: block;
    color: #E1DCE6;
    text-align: center;
    padding: 0.2em 0.8em;
    text-decoration: none;
    border-left: 1px solid #948B95;
   
}
}






.fixe {
    border: 4px solid #5D6977;
    position: fixed;
    height: 200px;
    width: 50px;
    margin-top: 5em;
    font-family: 'Oswald';
    padding: 1.1em;
    border-radius: 4px;
    background: url(speech.png) no-repeat center bottom #D7E4FF;
    -webkit-background-size: 50px 30px;
    background-size: 40px 40px;
    padding-bottom: -1em;
    background-position: 20px 180px;


}

.fixe:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.rongo {
    color: orange;
    font-family: impact;
    font-size: 40px;
    text-decoration: none;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}

.fppa {
    color: green;
    font-family: impact;
    font-size: 40px;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}